.help_tip{
    width: 17px;
    height: 17px;
    opacity: 0.5;
    display: inline-block;
    vertical-align: top;
    background-image: url(/../../assets/img/question_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: right;
    margin-right: -23px;
    margin-top: -21px;
    z-index: 99999;
}

.help_tip_text{
    min-height: 20px;
    width: 186px;
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-top: -28px;
    color: #fff;
    font-size: .8em;
    padding: 3px;
    border-radius: 3px;
    background-color:rgb(138, 138, 138);
    border-width:1px;
    border-color:rgb(92, 92, 92);
    border-style:solid;
    cursor: default;
    position: absolute;
    margin-left: 167px;
    z-index: 99;
}

.help_tip_text_inapp{
    min-height: 20px;
    width: 186px;
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-top: -28px;
    color: #fff;
    font-size: .9em;
    padding: 3px;
    border-radius: 3px;
    background-color: rgb(138, 138, 138);
    border-width: 1px;
    border-color: rgb(92, 92, 92);
    border-style: solid;
    cursor: default;
    position: absolute;
    margin-left: 132px;
    text-align: left;
    z-index: 99;
}

.help_tip_label {
    width: 17px;
    height: 17px;
    opacity: 0.5;
    display: inline-block;
    vertical-align: top;
    background-image: url(/../../assets/img/question_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 6px;
    margin-top: 2px;
    z-index: 999;
}

.help_tip_text_label{
    min-height: 20px;
    width: 186px;
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    color: #fff;
    font-size: .8em;
    padding: 3px;
    border-radius: 3px;
    background-color:rgb(138, 138, 138);
    border-width:1px;
    border-color:rgb(92, 92, 92);
    border-style:solid;
    cursor: default;
    position: absolute;
    z-index: 99;
}

.help_tip_span {
    width: 17px;
    height: 17px;
    opacity: 0.5;
    display: inline-block;
    vertical-align: top;
    background-image: url(/../../assets/img/question_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 5px;
    margin-top: 7px;
    z-index: 99;
    position: absolute;
}

.help_tip_text_span{
    min-height: 20px;
    width: 186px;
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    color: #fff;
    font-size: .8em;
    padding: 3px;
    border-radius: 3px;
    background-color:rgb(138, 138, 138);
    border-width:1px;
    border-color:rgb(92, 92, 92);
    border-style:solid;
    cursor: default;
    position: absolute;
    z-index: 99;
}