/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.03.2016, 0:31:00
    Author     : kanadez
*/

#container {
    margin: 53px auto 0;
    position: fixed;
    right: 100px;
    top: 0;
    width: 780px;
    z-index: 999;
}

#content {
    width:520px;
    min-height:500px;
}
a:link, a:visited {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a img {
    border-width:0;
}
#topnav {
    padding:10px 0px 12px;
    font-size:11px;
    line-height:23px;
    text-align:right;
}
#topnav a.signin {
    background:#88bbd4;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    *background:transparent url("images/signin-nav-bg-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
}
#topnav a.signin:hover {
    background:#59B;
    *background:transparent url("images/signin-nav-bg-hover-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
}
#topnav a.signin, #topnav a.signin:hover {
    *background-position:0 3px!important;
}

a.signin {
    position:relative;
    margin-left:3px;
}
a.signin span {
    background-image:url("images/toggle_down_light.png");
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
}
#topnav a.menu-open {
    background:#ddeef6!important;
    color:#666!important;
    outline:none;
}
#small_signup {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
    width:170px;
}
a.signin.menu-open span {
    background-image:url("images/toggle_up_dark.png");
    color:#789;
}

#signin_menu {
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    display: none;
    background-color: #fff;
    position: absolute;
    /* width: auto; */
    z-index: 100;
    /* border: 1px transparent; */
    text-align: left;
    padding: 12px;
    top: 31px;
    right: 0px;
    margin-top: 5px;
    margin-right: 0px;
    color: #789;
    border-radius: 0;
    font-size: 11px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.560784) 0px 0px 4px 0px;
    -moz-box-shadow:rgba(0, 0, 0, 0.560784) 0px 0px 4px 0px;
    box-shadow:rgba(0, 0, 0, 0.560784) 0px 0px 4px 0px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
    display: block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #e8ebed;
    font-size: 13px;
    margin: 0 0 5px;
    padding: 5px;
    width: 203px;
    border-radius: 2px;
}
#signin_menu p {
    margin:0;
}
#signin_menu a {
    color:#6AC;
    margin-left: 5px;
}
#signin_menu label {
    font-weight:normal;
}
#signin_menu .remember {
    padding: 12px 0 0 0;
}

#remember{
    margin: 5px;
}

#signin_menu p.forgot, #signin_menu p.complete {
    clear:both;
    margin:5px 0;
}
#signin_menu p a {
    color:#27b6af !important
}
#signin_submit {
    background: #556b8d none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    margin: 9px 5px 0 0;
    padding: 4px 10px 5px;
    float:left;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
    background-position:0 -5px;
    cursor:pointer;
}

.error{
    background: #ffefe8 none repeat scroll 0 0;
    border: 1px solid #e89b88;
    font-size: 0.9em;
    margin: 10px 0;
    display: none;
    min-height: 20px;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.show_password_span {
    right: 26px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}

#login_spinner_i{
    margin-top: 15px;
    float: left;
    opacity: 0;
}

label.lefted{
    white-space: normal; 
    margin-bottom: 5px !important;
}