/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.02.2016, 20:09:24
    Author     : Igor Konon
*/

.buttons_wrapper{
    float: left;
    margin: 0 0 0 14px;
    width: 40%;
}

#property_quick_modal .buttons_wrapper{
    float: left;
    margin: 0 0 0 37px;
    width: 100%;
}

.image_wrapper{
    float: left;
    height: 123px;
    overflow: hidden;
    width: 54%;
}

.image_wrapper img{
    height: 100%;
    width: auto;
}

.desc_wrapper{
    clear: both;
    width: 100%;
}

.desc_legend{
    color: #AAAAAA;
}

.maplabel {
    color: white;
    background-color: green;
    font-size: 10px;
    text-align: center;
    min-width: 40px;
    padding: 2px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    white-space: nowrap;
}

.maplabel_selected {
    color: white;
    background-color: #ff9999;
    font-size: 10px;
    text-align: center;
    min-width: 40px;
    padding: 2px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    white-space: nowrap;
}

#list_nopic_results_table{
    width: 100%;
}

.card_check{
    margin-bottom: 0px;
    margin-top: 4px;
}

.card_buttons_wrapper{
    margin-top: 5px;
}

.card_phone_not_selected{
    /*color: rgba(85, 107, 141, 0.45);
    font-weight: bold;
    cursor: pointer;*/
}

.card_phone_selected{
    color: #556b8d;
    font-weight: bold;
    cursor: pointer;
}

#draw_polygon_area_div{
    height: 473px;
    border: 1px solid #e8ebed;
    margin-top: 5px;
    background: #fff url("../img/loader2.gif") no-repeat scroll center center;
}

#property_results_table, #client_results_table{
    width: 100%;
}

#property_results_table td.call_button, #client_results_table td.call_button{
    background-color: rgba(76,218,100, 0.1);
    padding: 0 9px;
}

#property_results_table i{
    color: #5f5f5fc7;
}

#property_results_table tr, #client_results_table tr{
    cursor: pointer;
}

#property_results_table > tbody > tr:hover, #client_results_table tr:hover{
    background: #eee;
}

.mark_all_check:hover{
    background: #fff !important;
}

.list_title{
    padding: 0 0 5px 0;
    float: left;
    font-weight: bold;
}

#founded_wrapper_div{
    margin-bottom: 0px;
}

#marked_wrapper{
    margin-bottom: 10px;
}

#show_next_30_button, #show_previous_30_button{
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 10px;
}

#property_results_table_wrapper, #client_results_table_wrapper{
    max-height: 445px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

#property_results_area{
    margin-top: 10px;
}

.no_results_wrapper{
    text-align: center;
    font-style: italic;
    padding: 200px 80px;
    white-space: normal;
}

.to_map_button_span{
    background: url(assets/img/map.png);
    width: 18px;
    height: 14px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    margin-top: 0px;
    margin-bottom: -2px;
}

.to_list_button_span{
    background: url(assets/img/list.png) ;
    width: 18px;
    height: 14px;
    display: inline-block;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin-right: 8px;
    margin-top: 0px;
    margin-bottom: -2px;
}

.touch_tr_open_ltr{
    margin-left: -52px;
    margin-top: 5px;
}

.touch_tr_open_rtl{
    margin-left: 8px;
    margin-top: 5px;
}

@media (min-width: 1025px){
    .touch_tr_open_ltr{
        display: none;
    }
}